ion-fab-button{
    width:23px;
    height:23px;
    margin-bottom: 5px;
 margin-right: 2px;
     
    
}
// ion-list-header {
//     --border-width: 0 0 0.2px 0;
//     --border-color: #111011;}
.fab-button{
  bottom:90px ;
 // border: 2px solid #3880ff; 
border-radius: 10px; 
}
.text{
margin-left: 5px;

}
.image{
    margin-left: 18px;
}
ion-button{
    margin-right: 20px;
}