<ion-header [translucent]="true"class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark"><b>Calls</b></ion-title>
    <ion-buttons slot="end" >
      <ion-button color="dark" >
       
        <span class="material-symbols-outlined">
          qr_code_scanner
          </span>
       
          </ion-button>
          <ion-button>
            <span class="material-symbols-outlined">
              photo_camera
              </span>
          </ion-button>
          <ion-button>
            <span class="material-symbols-outlined">
              more_vert
              </span>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-padding">Favourites</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size ='2' class="thumbnails">
  <ion-button shape="round" color="success">
    <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
  </ion-button>
</ion-col>
  <ion-label class="Favourites">
    <h2>Add Favourites
    </h2>
  </ion-label>
</ion-row>
        
</ion-grid>
<ion-item lines="none">Recent</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1728845690503-3edfbd870662?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
    </span>
  <ion-label>
    <ion-text color="danger">Julian Everhart
    </ion-text>
    <p><img src="../../assets/icon/call_received_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" >28 september,6:56pm</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1727257186617-38153f3bc067?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Everhart
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="M240-192v-336h72v213l405-405 51 51-405 405h213v72H240Z"/></svg>28 september,6:56pm</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1729001199791-42e8d4d9e904?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Priya
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"/></svg>30 August,9:56am</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1728845690503-3edfbd870662?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>
    
  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
    <ion-label>
      <ion-text color="danger">kelix
      </ion-text>
   <p> <img src="../../assets/icon/call_received_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" > july,6:56pm</p>
  </ion-label>
 </ion-item>
 <ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1727257186617-38153f3bc067?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Aiden
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="M240-192v-336h72v213l405-405 51 51-405 405h213v72H240Z"/></svg>28 september,6:56pm</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1729001199791-42e8d4d9e904?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Isabella
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"/></svg>30 August,9:56am</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1728845690503-3edfbd870662?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>
    
  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
    <ion-label>
      <ion-text color="danger">Sophia
      </ion-text>
   <p> <img src="../../assets/icon/call_received_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" > july,6:56pm</p>
  </ion-label>
 </ion-item>
 <ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1727257186617-38153f3bc067?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Aiden
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="M240-192v-336h72v213l405-405 51 51-405 405h213v72H240Z"/></svg>28 september,6:56pm</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1728845690503-3edfbd870662?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
    </span>
  <ion-label>
    <ion-text color="danger">Julian Everhart
    </ion-text>
    <p><img src="../../assets/icon/call_received_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" >28 september,6:56pm</p>
    </ion-label>
</ion-item>
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src='https://images.unsplash.com/photo-1727257186617-38153f3bc067?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>

  </ion-avatar>
  <span class="material-symbols-outlined" slot="end">
    call
  </span>
  <ion-label>
    <h2>Charlotte
    </h2>
    <p><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#11990f"><path d="M240-192v-336h72v213l405-405 51 51-405 405h213v72H240Z"/></svg>28 september,6:56pm</p>
    </ion-label>
</ion-item>
 <ion-fab vertical="bottom" horizontal='end'slot='fixed'>
    
  <ion-fab-button color="success">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M640-520v-120H520v-80h120v-120h80v120h120v80H720v120h-80Zm158 400q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
  </ion-fab-button>
    </ion-fab>
</ion-content>
