<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar>
    
    <ion-buttons slot="start">
     
        <ion-back-button></ion-back-button>

      </ion-buttons>
        <ion-title color="dark">Settings</ion-title>
       <ion-buttons  slot="end">
        <ion-button>
          <span class="material-symbols-outlined">
search
</span>
        </ion-button>
 
       </ion-buttons>

   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img
        src='https://images.unsplash.com/photo-1728845690503-3edfbd870662?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'>
    </ion-avatar>
    <ion-label>
      <h2>Anantha priya
      </h2>
      <p>Stay positive,work hard,make it happy</p>
      
 </ion-label>

 <ion-buttons >
  <ion-button slot="end">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#3cd35a"><path d="M144-528v-288h288v288H144Zm72-72h144v-144H216v144Zm-72 456v-288h288v288H144Zm72-72h144v-144H216v144Zm312-312v-288h288v288H528Zm72-72h144v-144H600v144Zm144 456v-72h72v72h-72ZM528-360v-72h72v72h-72Zm72 72v-72h72v72h-72Zm-72 72v-72h72v72h-72Zm72 72v-72h72v72h-72Zm72-72v-72h72v72h-72Zm0-144v-72h72v72h-72Zm72 72v-72h72v72h-72Z"/></svg>
  </ion-button>
  <ion-button slot="end">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#3cd35a"><path d="M444-288h72v-156h156v-72H516v-156h-72v156H288v72h156v156Zm36.28 192Q401-96 331-126t-122.5-82.5Q156-261 126-330.96t-30-149.5Q96-560 126-629.5q30-69.5 82.5-122T330.96-834q69.96-30 149.5-30t149.04 30q69.5 30 122 82.5T834-629.28q30 69.73 30 149Q864-401 834-331t-82.5 122.5Q699-156 629.28-126q-69.73 30-149 30Zm-.28-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/></svg>
  </ion-button>
</ion-buttons>
</ion-item>
<ion-list>
<ion-item lines="none" >
  
  <span class="material-symbols-outlined">
    key
    </span>
  
    <ion-label class="ion-padding-start">
      Account
      <p> Security notifications,change number</p>
    </ion-label>

  
</ion-item>

<ion-item lines="none">
  <span class="material-symbols-outlined">
    lock
    </span>
    <ion-label class="ion-padding-start">
      Privacy
   
    <p>Block contacts,disappering messages</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    favorite
    </span>
    <ion-label class="ion-padding-start">
      Privacy
   
    <p>Add,reorder,remove</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    chat
    </span>
    <ion-label class="ion-padding-start">
      Chats
   
    <p>Theme,wallpapers,chat history</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    notifications
    </span>
    <ion-label class="ion-padding-start">
      Notifications
   
    <p>Message,group & call tones</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    cloud_circle
    </span>
    <ion-label class="ion-padding-start">
      Storage and data
   
    <p>Network usage,auto download</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    language
    </span>

    <ion-label class="ion-padding-start">
      App language
   
    <p>English(device's language)</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    language
    </span>

    <ion-label class="ion-padding-start">
      Help
   
    <p>Help centre ,contact us,privacy policy</p>
  </ion-label>
</ion-item>
<ion-item lines="none">
  <span class="material-symbols-outlined">
    group
    </span>
  <ion-label class="ion-padding-start">
    Invite a friend
 </ion-label>
</ion-item>
</ion-list>
<ion-list >
 <ion-label class="ion-padding-start"> Also from Meta</ion-label> 
  <ion-item lines="none">
   
    <ion-icon name="logo-instagram" color="dark"></ion-icon>
    <ion-label class="ion-padding-start">Open instagram</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="logo-facebook" color="dark"></ion-icon>
    <ion-label>Open Facebook</ion-label>
  </ion-item>
</ion-list>
</ion-content>
